.col1{
    position: relative;
    right: 1cm;
    /* top: 13cm; */
    /* background-color: rgb(255, 255, 255); */
}

.pen{
    /* border: 1px solid; */
    height: 1.5cm;
    width: 5.6cm;
    position: relative;
    right: 0.5cm;
    border-radius: 20px;
    
}


.pen1{
    border: 1px solid;
    height: 1.5cm;
    width: 2cm;
    position: relative;
    /* right: 1cm; */
    border-radius: 20px;
    
}