/* @media only screen and (min-width: 1303px) { */
body{
    overflow-x: hidden;
}


/* ****************************** */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input  { 
    opacity: 0;
    width: 0;
    height: 0;
    /* background-color: red; */
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

/* *************************************** */

#resetButton{
    background-color: red;
    color: white;
    font-family: Arial black;
    width: 6cm;
    height: 1cm;
    border-radius: 10px;
    border: 0px;
}
         .h66{
            rotate: -45deg;
            /* background-color: rgb(54, 17, 17); */
            /* color: white; */
            position: relative;
            left: 1px;
            /* top: 2cm; */
            font-size: 20px;
            bottom: 1cm;
        }
        .h88{
            rotate: -45deg;
            /* background-color: rgb(54, 17, 17); */
            /* color: white; */
            position: absolute;
            left: 150px;
            top: 0.5cm;
            bottom: 8cm;
            font-size: 20px;
        }
        .h44{
            rotate: -45deg;
            /* background-color: rgb(54, 17, 17); */
            /* color: white; */
            position: relative;
            /* left: cm; */
            top: 2cm;
            font-size: 20px;
        }
        .h00{
            rotate: -45deg;
            /* background-color: rgb(54, 17, 17); */
            /* color: white; */
            position: relative;
            left: 3cm;
            font-size: 20px;
            top: 1cm;
        }

        .h3{
            rotate: -45deg;
            /* background-color: rgb(54, 17, 17); */
            /* color: white; */
            position: relative;
            font-size: 20px;
            left: 1.4cm;

        }
        .boxx{
            position: relative;
            right: 56px;    
        }
 
#arrayDisplay{
position:relative;
background-color: rgb(0, 0, 0);
overflow: hidden;
height: 580px; 
width: 580px;
position: relative;
border: 0.1cm solid;
left: 4cm;
top: 10px;
z-index: 2;


}

.losange{
width: 200px;
height:200px;
/* border:solid 1px rgb(253, 0, 0); */
transform:rotate(45deg);
position:absolute;
top:40px;
left: 6.5cm;
z-index: 1;
background-color: rgb(255, 255, 255);

}

.losange11{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:relative;
/* top:4px; */
bottom: 2.8cm;
left: 10.3cm;
/* background-color: rgb(117, 235, 113); */
background-color: rgb(255, 255, 255);
}


.losange1{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:relative;
top:100px;
left: 2cm;

/* background-color: rgb(149, 214, 223); */
background-color: rgb(255, 255, 255);
}


.losange12{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:relative;  
/* top:4px; */
bottom: 15px;
left: 10.3cm;
/* background-color: rgb(101, 171, 204); */
background-color: rgb(255, 255, 255);
}





.losange22{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:absolute;
top:40px;
left: 14.1cm;
/* background-color: rgb(115, 114, 209); */
background-color: rgb(255, 255, 255);
}


.losange33{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:relative;
/* top:4px; */
bottom: 215px;
/* right: 65px; */
left: 100px;
/* background-color: rgb(235, 132, 212); */
background-color: rgb(255, 255, 255);
}

.losange44{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:absolute;
top:329px;
left: 14.2cm;
/* background-color: rgb(163, 177, 255); */
background-color: rgb(255, 255, 255);
}

.losange55{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:absolute;
top:330px;
left: 6.5cm;
/* background-color: rgb(161, 255, 216); */
background-color: rgb(255, 255, 255);
}

.losange66{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:absolute;
top: 475px;
left: 10.4cm;
/* background-color: rgb(168, 240, 120); */
background-color: rgb(255, 255, 255);
}


.losange77{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:absolute;
top: 476px;
/* left: 2.6cm; */
left: 100px;
/* background-color: rgb(200, 167, 255); */
background-color: rgb(255, 255, 255);
}


.losange88{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:absolute;
top:331px;
/* right: 1cm; */
left: -1.2cm;
/* background-color: rgb(222, 255, 132); */
background-color: rgb(255, 255, 255);
}

.losange99{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:absolute;
top:40px;
/* right: 1cm; */
left: -1.2cm;
/* background-color: rgb(176, 233, 255); */
background-color: rgb(255, 255, 255);
}

.losange00{
    width: 200px;
    height:200px;
/* border:solid 1px black; */
transform:rotate(45deg);
position:absolute;
top:-104px;
/* bottom: 2.8cm; */
left: 100px;
/* background-color: rgb(230, 209, 209); */
background-color: rgb(255, 255, 255);
}

/* } */